:root {
background-color:darkcyan;
}
body {
 border: 10px;
 border-color:lightsalmon;
 border-style: solid;
}
body {
 font-family: fantasy;   
}
body {
 padding-left: 10px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 10px;
}


